Libros.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:libl="http://libreria.com/Libros/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="libros" targetNamespace="http://libreria.com/Libros/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://libreria.com/Libros/">
      <xsd:element name="librosRequest">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="librosResponse">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="libro" type="libl:libro"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addLibrosRequest">
      <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="libro" type="libl:libro"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addLibrosResponse">
       <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="confirmacion" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="libro">
      <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="autor" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
      </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="librosRequestM">
    <wsdl:part element="libl:librosRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="librosResponseM">
    <wsdl:part element="libl:librosResponse" name="parameters"/>
  </wsdl:message>
      <wsdl:message name="addLibroRequestM">
    <wsdl:part element="libl:addLibrosRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addLibroResponseM">
    <wsdl:part element="libl:addLibrosResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="librosPT">
    <wsdl:operation name="buscarLibro">
      <wsdl:input message="libl:librosRequestM"/>
      <wsdl:output message="libl:librosResponseM"/>
    </wsdl:operation>
     <wsdl:operation name="addLibro">
      <wsdl:input message="libl:addLibroRequestM"/>
      <wsdl:output message="libl:addLibroResponseM"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibrosSOAP" type="libl:librosPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="buscarLibro">
      <soap:operation soapAction="http://libreria.com/Libros/buscarlibros"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLibro">
      <soap:operation soapAction="http://libreria.com/Libros/addlibros"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Libros">
    <wsdl:port binding="libl:LibrosSOAP" name="LibrosSOAP">
      <soap:address location="http://localhost:9090/libreria/services/libros"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
